
*{
    margin: 0;
    padding: 0;
    
}
ul{
    list-style-type: none;
}
.menuderoulant li{
    display: flex;
    float: left;
    width: 100px;
   padding: 10px;
   margin-top: 2%;
   position: relative;
}
.menuderoulant li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family: lucida sans;
}
.menuderoulant li a:hover{
    color: black;
}
#sousmenu{
    display: none;
    background: white;
    margin-left: -15%;
    margin-top: 20%; 
    width: 90%;
    position: absolute;
}
#sousmenu li:hover{
    background-color: rgb(175, 174, 174);
    width: 81.5%;
    
}
#sousmenu li a{
    color: rgb(85, 84, 84);
    font-family: lucida sans;
    font-size: 12px;
}
#sousmenu li a:hover{
    color: lightblue;
    
}
#menuprincipal:hover #sousmenu{
    display: block;
    position: absolute;
}

.aa{
    margin-left: 40%;
}
.cc{
    margin-left: 70%;
    color: white;
    font-size: 1.2em;
    margin-top: -4%;
}
.cc h1{
    color: black;
}
.cc h1:hover{
    color: white;
}
header{
    width: 100%;
    height: 90px;
    background-color: lightblue;
    
    
}

@media screen and (max-width:1350px){
    .aa{
       margin-left: 38%;
    }
    #sousmenu{
        display: none;
        background: white;
        margin-left: -15%;
        margin-top: 20%; 
        width: 90%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 81.5%;
        
    }
}
@media screen and (max-width:1300px){
    .aa{
       margin-left: 38%;
    }
    .menuderoulant li{
        padding: 12px;
    }
    #sousmenu{
        display: none;
        background: white;
        margin-left: -15%;
        margin-top: 20%; 
        width: 90%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 81.5%;
        
    }
}
@media screen and (max-width:1250px){
    .aa{
       margin-left: 28%;
    }
    .menuderoulant li{
        padding: 12px;
    }#sousmenu{
        display: none;
        background: white;
        margin-left: -15%;
        margin-top: 15%; 
        width: 90%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 78.5%;
        
    }
}
@media screen and (max-width:1100px){
    .aa{
       margin-left: 20%;
    }
    .menuderoulant li{
        padding: 13px;
    }
    #sousmenu{
        display: none;
        background: white;
        margin-left: -15%;
        margin-top: 15%; 
        width: 90%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 77.5%;
        
    }
    
}
@media screen and (max-width:1024px){
    .aa{
        margin-left: 25%;
    }
    .menuderoulant li{
        padding: 10px;
    }
    .menuderoulant li a{
        font-size: 13px;
        margin-top: 10%;
    }
    .cc{
        margin-top: 5%;
        margin-left: 20%;
    }
    #sousmenu{
        display: none;
        background: white;
        margin-left: -15%;
        margin-top: 20%; 
        width: 90%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 81.5%;
        
    }
    #sousmenu li a{
        padding: 0px;
    }
} 
@media screen and (max-width:1000px){
    .aa{
        margin-left: 15%;
    }
    
}
@media screen and (max-width:865px){
    .aa{
        margin-left: 5%;
    }
}
@media screen and (max-width:790px){
    .menuderoulant li{
        padding: 0px;
        margin-top: 4%;
    }#sousmenu{
        display: none;
        background: white;
        margin-left: -15%;
        margin-top: 25%; 
        width: 100%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 100%;
        
    }
#sousmenu li a{
    padding: 5px;
}
}

/*nouveau hamburger*/

.nav{
    
    text-align: right;
    height: 70px;
    display: none;
}
.logo{
    text-decoration: none;
    color: black;
    font-family: lucida sans;
    margin-right: 55%;
}
.logo:hover{
    color: white;
}
.menu{
    margin: 0 30px 0 0;
    display: none;
    
}
.menu a{
    text-decoration: none;
    color: white;
    background: black;
    opacity: 0.8;
    margin: 0 10px;
    line-height: 50px;
    clear: right;  
}
.menu a:hover{
    background-color: lightblue;
}
label{
    margin: 10px 40px 0 0;
    font-size: 36px;
    line-height: 70px;
    display: none;
    width: 100%;
    float: right;
    
}

#toggle{
    display: none;
}
@media only screen and (max-width:650px){
    .content{
        display: none;
    }
    .nav{
        display: block;
    }
    label{
        display: block;
        cursor: pointer;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a{
        display: block;
        border-bottom: 1px solid #1b1b1b;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block;
    }
}
@media only screen and (max-width:450px){
    .logo{
        margin-right: 40%;
    }
}
@media only screen and (max-width:355px){
    .logo{
        margin-right: 30%;
    }
}

/*banniere pour mobile*/

.banner{
    display: none;
}
.ban{
    display: none;
}

@media only screen and (max-width:600px){
    .banner{
        display:none;
        background: url(images/graphic-design-CODAGE.png) no-repeat;
        width: 100%;
        padding-top: 20%;
        padding-bottom: 15%;
        background-size: cover;
        text-align: center;
        color: black;
        font-family: cursive;
        font-weight: bold;
        font-size: 20px;
    }
    .ban{
        display: block;
        border-bottom: 10px solid lightblue;
    }
    .section{
        display: none;
    }
    /*FOOTER MOBILE*/
    .footer{
        max-width: 600px;
        width: 100%;
        height: auto;
        margin: 10px auto;  
        display: grid;  
        grid-template-columns: repeat(auto-fill, 204px);
        justify-content: center;

    }
    .liste-media a{
        font-size: 15px;
    }
    .grid-items, .grid-items1, .grid-items2{
        width: 224px;
    }
    .grid-items1, .grid-items2{
        display: none;
    }
}
@media only screen and (max-width:450px){
    .logo{
        margin-right: 40%;
    }
}
@media only screen and (max-width:355px){
    .logo{
        margin-right: 30%;
    }
}
@media only screen and (max-width:310px){
    .logo{
        margin-right: 20%;
    }
}
@media only screen and (max-width:415px){
    .footer{
        grid-template-columns: repeat(auto-fill, 188px);
    }
    .grid-items, .grid-items1, .grid-items2{
        width: 188px;
        height: 300px;
    }
    .copyright{
        margin-top: 20%;
    }
}
/*une*/

.vien{
   
    width: 100%;
    height: 90vh;
    background: linear-gradient(45deg,lightblue,#2c7bfe);
    display: flex;
    justify-content: center;
    align-items: center;
}
.vien:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: #ffff;
    clip-path: polygon(100% 15%,0 100%,100% 100%);
}
.xux{
  
    max-width: 900px;
    text-align: center;
}
.xux h2{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 5em;
}
.xux p{
    color: #fff;
    font-size: 1.5em;
}
@media screen and (max-width: 600px) {
    .xux h2{
        font-size: 2.5em;
    }
    .xux p{
        font-size: 1em;
    }
    
}
@media screen and (max-width: 500px) {
    .xux h2{
        font-size: 3em;
    }
    .xux p{
        font-size: 1em;
    }
    
}

@media screen and (max-width: 430px) {
    .xux h2{
        font-size: 3em;
    }
    .xux p{
        font-size: 1em;
    }
    
}
@media screen and (max-width: 330px) {
    .xux h2{
        font-size: 2em;
    }
    .xux p{
        font-size: 1em;
    }
    
}

/*cover*/ 

.cover{
    background: white;
    margin-top: -20px;
}
.cover h2{
   color: white;
}
@media screen and (max-width: 380px){
    .cover{
        margin-top: -24px;
    }
}
@media screen and (max-width: 1024px){
    .cover{
        margin-top: -30px;
        height: 50px;
    }
}
/*section*/

section
{
    background:  url(phone1.jpg);
    height: 95vh;
    margin-top: 150px;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form 
{
   display: flex;
   justify-content: center;
    background-color: lightblue;
    position: absolute;
    padding: 70px 50px;
    margin-left: 370px;
    margin-top: 120px;
    padding-left: 150px;
    width: 40vw;
    height: 55vh;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
}

.form1
{
    padding-top: 80px;
    margin-left: -100px;
}
.form1 h2
{
    font-size: 2em;
    font-weight: 300;
    font-family: 'poppins' ,sans-serif;
    padding-left: 150px;
    color: #191550;
}
.form1 input
{
    width: 33vw;
    line-height: 35px;
    padding-left: 10px;
    border-color: white;
    display: block;
    margin-top: 20px;
    border-radius: 5px;
}
.form1 textarea
{
    width: 33vw;
    height: 15vh;
    padding-left: 10px;
    border-color: white;
    margin-top: 20px;
    border-radius: 10px;
}
.form1 .f
{
    width: 20vw;
    height: 35px;
    margin-left: 100px;
    font-size: 1em;
    color: #0b073f;
    border-color: white;
    background-color: white;
    border-radius: 5px;
    transition: 1s;
}
.quatre
{
   display: flex;
   justify-content: center;
   position: absolute;
   margin-top: -150px;
   margin-left: -100px;
}
.look
{
    display: flex;
    justify-content: center;
   width: 115vh;
   height: 26vh;
   margin-left: 200px;
}
.si
{
    margin-left: 100px;
    margin-top: 10px;
    color: lightblue; 
}
.loc 
{
    background-color: white;
    margin-left: -200px;
    width: 15vw;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
.loc h3
{
   margin-top: 20px;
   margin-left: 50px;
}
.loc p
{
    margin-top: 20px;
   margin-left: 40px;
}
.num
{
    background-color: white;
    margin-left: 10px;
    width: 15vw;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
.num h3
{
   margin-top: 20px;
   margin-left: -20px;
   color: black;
}
.num p
{
    margin-top: 20px;
   margin-left: -40px;
   color: black;
}

.fax 
{
    background-color: white;
    margin-left: 10px;
    margin-top: -10px;
    width: 15vw;
    height: 26vh;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
.fax  i
{
    margin-top: 10px;
}
.fax h3
{
   margin-top: 20px;
   margin-left: -20px;
   color: black;
}
.fax p
{
    margin-top: 20px;
   margin-left: -40px;
   color: black;
}

.mail
{
    background-color: white;
    margin-left: 10px;
    width: 15vw;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
.mail h3
{
   margin-top: 20px;
   margin-left: 65px;
   color: black;
}
.mail p
{
    margin-top: 20px;
   margin-left: 60px;
   color: black;
}

@media screen and (max-width: 1450px){
    .form{
        margin-left: 320px;
    }
}
@media screen and (max-width: 1350px){
    .form{
        margin-left: 260px;
    }
    .si i{
        margin-left: -10px;
    }
    .loc h3{
        margin-left: 35px;
    }
    .loc p{
        margin-left: 15px;
    }
    .num h3{
      margin-left: -35px;
    }
    .num p{
        margin-left: -70px;
    }
    .fax h3{
        margin-left: -30px;
    }
    .fax p{
        margin-left: -60px;
    }
    .mail h3{
        margin-left: 35px;
    }
    .mail p{
        margin-left: 20px;
    }
    .loc{
        width: 20vw;
    }
    .num{
        width: 20vw;
    }
    .fax{
        width: 20vw;
    }
    .mail{
        width: 20vw;
    }
}
@media screen and (max-width: 1180px){
    .form{
        margin-left: 210px;
    }
    .form1 h2{
        margin-left: -70px;
    }
    
}
@media screen and (max-width: 1075px){
    .form{
        margin-left: 190px;
    } 
    
}
@media screen and (max-width: 1024px){
    .form{
        margin-left: 200px;
    }
    .form1 h2{
        margin-left: -100px;
    }
    .form1 .f{
        margin-left: 70px;
    } 
    .quatre{
        width: 100vw;
    }
    .loc p{
        font-size: 0.8em;
    }

}
@media screen and (max-width: 1000px){
    .quatre{
        width: 90vw;
        
    }
}
@media screen and (max-width: 950px){
    .form{
        margin-left: 170px;
    }
    .form1 h2{
        margin-left: -120px;
    }
    .form1 .f{
        margin-left: 55px;
    } 
    .quatre{
        width: 90vw;
        
    }
}
@media screen and (max-width: 830px){
    .form{
        margin-left: 140px;
    }
}
@media screen and (max-width: 800px){
    .form{
        margin-left: 130px;
    }
    .si i{
        margin-left: -40px;
    }
    .loc h3{
        margin-left: 35px;
        font-size: 1em;
    }
    .loc p{
        font-size: 0.9em;
    }
    .num h3{
        margin-left: 0px;
        font-size: 1.2em;
      }
      .num p{
          margin-left: -85px;
          font-size: 1em;
      }
      .fax h3{
          margin-left: -30px;
          font-size: 1.2em;
      }
      .fax p{
          margin-left: -60px;
      }
      .mail h3{
          margin-left: 20px;
      }
      .mail p{
          margin-left: 7px;
      }
}
@media screen and (max-width: 720px){
    .form{
        margin-left: 85px;
    }
    .form1 h2{
        font-size: 1.5em;
    }
      .form1 .f{
        margin-left: 45px;
        font-size: 0.8em;

    }
}
@media screen and (max-width: 650px){
    .form{
        margin-left: 92px;
    }
    .form1 h2{
        font-size: 1.3em;
    }
    .loc h3{
        margin-left: 25px;
        font-size: 1em;
    }
    .num h3{
        margin-left: -10px;
      }
      .num p{
          margin-left: -90px;
          font-size: 0.9em;
      }
      .fax p{
        margin-left: -70px;
    }
    .mail h3{
          margin-left: 10px;
      }
    .mail p{
          font-size: 0.9em;
      }
      
}
@media screen and (max-width: 600px){
    .form{
        margin-left: 75px;
    }
    .form1 h2{
        font-size: 1em;
    }
    .si i{
        margin-left: -50px;
    }
    .loc h3{
        margin-left: 25px;
        font-size: 0.8em;
    }
    .loc p{
        font-size: 0.8em;
        margin-left: 10px;
    }
    .num h3{
        margin-left: 17px;
        font-size: 0.9em;
      }
      .num p{
          margin-left: -90px;
          font-size: 0.8em;
      }
      .fax h3{
        font-size: 1em;
    }
      .fax p{
        margin-left: -80px;
    }
    .mail h3{
          margin-left: 10px;
          font-size: 0.9em;
      }
    .mail p{
          font-size: 0.7em;
      }
      .form1 .f{
        font-size: 0.6em;

    }
    
      
}
@media screen and (max-width: 500px){
    .form{
        margin-left: 42px;
    }
    .loc h3{
        margin-left: 10px;
    }
    .num h3{
        margin-left: 10px;
    }
    .num p{
        margin-left: -90px;
        font-size: 0.7em;
    }
    .fax p{
        margin-left: -90px;
        font-size: 0.7em;
        margin-top: 35px
    }
    .mail p{
        margin-top: 35px
    }
    .form1 .f{
        margin-left: 35px;

    }
}
@media screen and (max-width: 430px){
    .quatre{
        display: none;
    }
    .form{
        width: 30vw;
        height: 36vh;
        margin-top: 200px;
        margin-left: 44px;
    }
    .form1{
        margin-top: -100px;
    }
    .form1 h2{
        font-size: 1.2em;
        margin-left: -140px;
    }
    .form1 .f{
       width: 35.5vw;
       margin-left: 0px;
    }
}
@media screen and (max-width: 380px){
     .form{
        margin-left: 30px;
     }
}
@media screen and (max-width: 330px){
    .form{
        width: 13vw;
        height: 45vh;
        margin-top: 100px;
        margin-left: 23px;
    }
    .form1 input{
        font-size: 0.7em;
    }
    .form1 h2{
        font-size: 0.8em;
        
    }
    .form1 .f{
       width: 36vw;
       margin-left: 0px;
    }
    
}
html{
    scroll-behavior: smooth
}
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.lou h2
{
	margin-top: 20px;
    text-align: center;
    font-size: 2.5em;
	color: white;
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media screen and (max-width:600px){
    .lou h2{
        margin-top: 200px;
    }
}

/*footer*/

.footer{
    max-width: 1300px;
    width: 100%;
    height: auto;
    margin: 30px auto;  
    display: grid;  
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px; 
}
footer{
    background: #333;
    color: #f1f1f1;
    opacity: 0.8;
    animation: couleur 5s infinite;
}


.grid-items, .grid-items1, .grid-items2{
    width: 300px;
    height: 300px;
    position: relative;
    
}
.bloc{
    margin: 0 30px;
}

/*contact*/
.footer-contact h3, .footer-services h3, .footer-horaires h3, .footer-media h3{
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 30px;
    color: blueviolet;
    font-family: lucida sans
}
.footer-contact p{
    padding: 5px 0;
}
.liste-contacts p{
    transition: 0.5s;
}
.liste-contacts p:hover{
    transform: translateY(-10px);
}

/*services*/

.liste-services, .liste-horaires, .liste-media{
    list-style-type: none;
}
.liste-services li{
    padding: 5px 0;
    transition: 0.5s;
}
.liste-services li:hover{
    transform: translateY(-10px);
}
.liste-services li a{
    text-decoration: none;
    color: #f1f1f1;
}
.liste-services li a:hover{
    color: lightblue;
   
}

/*media*/

.liste-media img{
    width: 40px;
    margin: 10px 10px;
}
.liste-media a{
    text-decoration: none;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    font-size: 25px;
    transition: 0.5s;
}
.liste-media a:hover{
    color: lightblue;
    transform: translateY(-10px);
}

/*horaire*/

.liste-horaires li{
    padding: 5px 0;
    transition: 0.5s;
}
.liste-horaires li:hover{
    transform: translateY(-10px);
}
.copyright{
    width: 100%;
    height: 50px;
    margin-top: 5%;
    background: rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}