*{
    margin: 0;
    padding: 0;
    font-family: lucida sans;
}
ul{
    list-style-type: none;
}
.menuderoulant li{
    display: flex;
    float: left;
    width: 150px;
   padding: 15px;
   margin-top: 1.5%;
   margin-right: -2%;
   position: relative;
   z-index: 1000;
}
.menuderoulant li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    
}
.menuderoulant li a:hover{
    color: black;
}
#sousmenu{
    display: none;
    background: white;
    margin-left: -20%;
    margin-top: 20%; 
    width: 80%;
    position: absolute;
}
#sousmenu li:hover{
    background-color: rgb(175, 174, 174);
    width: 80%;
    
}
#sousmenu li a{
    color: rgb(85, 84, 84);
}
#sousmenu li a:hover{
    color: lightblue;
    
}
#menuprincipal:hover #sousmenu{
    display: block;
    
}

.aa{
    margin-left: 29%;
}
.cc{
    margin-left: 70%;
    color: white;
    font-size: 1.2em;
    margin-top: -4%;
}
.cc h1{
    color: black;
}
.cc h1:hover{
    color: white;
}
header{
    width: 100%;
    height: 90px;
    background-color: lightblue;
    
}

@media screen and (max-width:1350px){
    .bb4{
       
        visibility: hidden;
    }
}
@media screen and (max-width:1140px){
    .bb3{
        
        visibility: hidden;
    }
}
@media screen and (max-width:950px){
    .bb2{
        
        visibility: hidden;
    }
}
@media screen and (max-width:800px){
    .bb1{
        visibility: hidden;
    }
}
@media screen and (max-width:600px){
    .aa{
        visibility: hidden;
    }
    .cc{
        margin-left: 115%;
        margin-top: 5%;
        font-size: 1.2em;
    }
    
}
body
{
    background-image: url("tru.");
    background-size: cover;
    background-repeat: no-repeat;
    

}

/*main*/
.tout
{
    display: flex;
}
.tout h2
{

}
form{
    background-color: lightblue;
    margin-left: 700px;
    border-radius: 10px;
    margin-top: 100px;
    margin-right: 50px;
    padding-left: 50px;
    width: 500px;
    height: 380px;
    padding-top: 30px;
    
}
form h1 
{
    font-size: 20px;

}
form .separation
{
    width: 100%;
    height: 1px;
    background-color: rgb(57, 57, 58);
}
form .corps-formulaire
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
form .corps-formulaire .groupe
{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    position: relative;
}
form .corps-formulaire .gauche .groupe input
{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: rgb(126, 144, 247);
    border-radius: 5px;
}
form .corps-formulaire .gauche .groupe i
{
    position: absolute;
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: lightblue;
}
form .corps-formulaire .droite
{
    margin-left: 40px;
    
}
form .corps-formulaire .droite .groupe
{
    height: 100%;
    
}
form .corps-formulaire .droite .groupe textarea
{
    margin-top: 5px;
    padding: 5px;
    background-color: #f8f8f8;
    border: 2 solid #747cdf;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 77.5%;
    
}
form .pied-formulaire button
{
    margin-top: 10px;
    background-color: #747cdf;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
    margin-left: 130px;
    
}
form .corps-formulaire button:hover
{
    transform: scale(1.05);
 
}

@media screen and (max-width:920px) {
    form .corps-formulaire .droite
{
    margin-left: 0px;
    
}

}

.lou h2
{
	margin-top: 25px;
    text-align: center;
    font-size: 2.5em;
	color: white;
    margin-bottom: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*footer*
.mon-footer{
    margin: 0;
    padding: 0;
    background-color: gray;
    opacity: 0.7;
}
.icons{
    display: flex;
}
.icons ul{
    padding: 10px;
    display: flex;
    width: 300px;
    height: 30px;
    margin: auto;
    margin-top: 5px;
}
.icon a{
    padding: 10px 20px;
    
}
.sous-menu{
    display: flex;
    width: 560px;
    height: 70px;
    margin: auto;
}
.sous-menu ul{
    display: flex;
    margin-top: 10px;
}
.sous a{
    text-decoration: none;
    padding: 0px 25px;
    font-size: 10px;
    color: white;
    
}
.sous a:hover{
    color: lightblue;
}
