*{
    margin: 0;
    padding: 0;
    
}
ul{
    list-style-type: none;
}
.menuderoulant li{
    display: flex;
    float: left;
    width: 150px;
   padding: 10px;
   margin-top: 2%;
   position: relative;
}
.menuderoulant li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family: lucida sans;
}
.menuderoulant li a:hover{
    color: black;
}
#sousmenu{
    display: none;
    background: white;
    margin-left: -20%;
    margin-top: 15%; 
    width: 90%;
    position: absolute;
}
#sousmenu li:hover{
    background-color: rgb(175, 174, 174);
    width: 87%;
    
}
#sousmenu li a{
    color: rgb(85, 84, 84);
    font-family: lucida sans;
    font-size: 12px;
}
#sousmenu li a:hover{
    color: lightblue;
    
}
#menuprincipal:hover #sousmenu{
    display: block;
    position: absolute;
}

.aa{
    margin-left: 23%;
}
.cc{
    margin-left: 70%;
    color: white;
    font-size: 1.2em;
    margin-top: -4%;
}
.cc h1{
    color: black;
}
.cc h1:hover{
    color: white;
}
header{
    width: 100%;
    height: 90px;
    background-color: lightblue;
    
    
}

@media screen and (max-width:1350px){
    .bb4{
       
        visibility: hidden;
    }
}
@media screen and (max-width:1140px){
    .bb3{
        
        visibility: hidden;
    }
}
@media screen and (max-width:950px){
    .bb2{
        
        visibility: hidden;
    }
}
@media screen and (max-width:800px){
    .bb1{
        visibility: hidden;
    }
}
@media screen and (max-width:600px){
    .aa{
        visibility: hidden;
    }
    .cc{
        margin-left: 115%;
        margin-top: 5%;
        font-size: 1.2em;
    }
    
}

.text{
    width: 70%;
    margin: 30px auto 150px auto;
    
}
.text h1{
    padding: 20px 0px;
    border-bottom: gray solid;
    border-top: gray solid;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.5s;
    margin-top: 10%;
    margin-bottom: 3%;
}
.text h1:hover{
    
    color: lightblue;
    transform: translateY(-10px);
}
.text p{
    padding: 30px 0px;
    color: rgb(71, 71, 71);
    font-style: italic;
}

.section{
    
    background: url("images/pay.jpg") no-repeat;
    width: 100%;
    background-size: cover;
}
.sectionbox{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
}
.box{
    position: relative;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}
@keyframes animate{
    0%{
        transform: perspective(3000px) rotateY(0deg);
    }
    100%{
        transform: perspective(3000px) rotateY(360deg);
    }
}
.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(200px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#fff8);
}
.box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer{
    max-width: 1300px;
    width: 100%;
    height: auto;
    margin: 30px auto;  
    display: grid;  
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px; 
}
footer{
    background: #333;
    color: #f1f1f1;
    opacity: 0.8;
}

.grid-items{
    width: 300px;
    height: 300px;
    position: relative;
    
}
.bloc{
    margin: 0 30px;
}

/*contact*/
.footer-contact h3, .footer-services h3, .footer-horaires h3, .footer-media h3{
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 30px;
}
.footer-contact p{
    padding: 5px 0;
}

/*services*/

.liste-services, .liste-horaires, .liste-media{
    list-style-type: none;
}
.liste-services li{
    padding: 2px 0;
}
.liste-services a{
    text-decoration: none;
    color: #f1f1f1;
}
.liste-services a:hover{
    color: lightblue;
}

/*media*/

.liste-media img{
    width: 40px;
    margin: 10px 10px;
}
.liste-media a{
    text-decoration: none;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    font-size: 25px;
    transition: 0.5s;
}
.liste-media a:hover{
    color: lightblue;
    transform: translateY(-10px);
}
.copyright{
    width: 100%;
    height: 50px;
    margin-top: 5%;
    background: rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}