*
{
	margin: 0;
	padding: 0;
	font-family: Lucida Sans;
}

/*header*/

#head
{
	width: 100%;
	height: 100px;
}
header
{
	background-color: lightblue;
	background-size: cover;
	width: 100%;
	height: 100px;
	position: fixed;

	
}

h1
{
	color: rgb(255, 255, 255);
	float: left;
	text-transform: uppercase;
	padding-left: 150px;
	padding-top: 30px;
}
.se:hover
{
	color: orange;
}
header nav
{
	float: right;
	padding-top: 30px;
	margin: 0px;

}
#toggle li a:hover
{
	color: orange;
}
header nav ul li
{
	float: left;
	display: inline-block;
	list-style-type: none;
}
#toggle ul li a
{
	text-transform: uppercase;
	font-weight:  bold;
	margin-right: 90px;
	text-decoration: none;
	color: white;

}
#toggle .a
{
  top: 20px;
  visibility: hidden;
  margin-top: 5px;
  width: 140px;
  background-color: white;
  color: black;

}
.a li a
{
	color:black;
}

#toggle ul li:hover ul
{
    visibility: visible;
    
}
#toggle ul li ul li
{
    padding-top: 10px;
	color: red;	
}

/*first*/

.first
{
    padding-top: 0px;
	background-image: url("jk.jpg");
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
}
.first h2
{
    font-size: 3.5em;
    text-align: center;
	padding-top: 220px;
}
.first p 
{
    text-align: center;
    font-size: 1.7em;
    padding-top: 30px;
}
form
{
	margin-left: 500px;
    padding-top: 20px;
    
}

input[type="text"]
{
   padding: 10px;
   font-size: 20px;
   margin-right: 20px;
   border: 2px solid #ddd;
   border-radius: 3px;
   width: 400px;
}
.button-3
{
	color: #777;
	font-size: 20px;
	font-weight: bold;
	padding: 11px;
	background-color: #02b8dd;
	border-style: none;
	border-radius: 3px;
}
.button-3:hover
{
	color: #fff;
	background-color: #444;
}
strong
{
	font-style: arial black;
}
.clear
{
	clear: both;
}
#main
{
	margin-top: 40px;
	
}
@media screen and (max-width: 700px) {
	#toggle
	{
		display: none;
	}
	input 
	{
		
	}
}

/*main*/

.main
{
	background-color: #efefef;
	padding: 130px 0;
	
}
.me h2
{
    margin-top: 30px;
    text-align: center;
    font-size: 2.5em;
	color: black;
	margin-bottom: 20px;
}
.main article
{
	width: 300px;
	height: 270px;
	float: left;
	display: inline-block;
	border-radius: 10px;
	padding-left: 23px;
	margin-left: 60px;
}

.we
{
	height: 100%;
	width: 190px;
	padding: 20px;
	border-radius: 10px 0 0 10px;
	text-align: center;
}
article h3
{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
}
.main article .we p
{
	text-align: center;
	padding-top: 30px;
}
.we h3 p a
{
    margin-top: 20px;
}

.button-2 
{
	color: #fff;
	background-color: #ff7a00;
	padding: 6px 20px;
	border-radius: 3px;
	padding-bottom: 10px;
	margin-top: 15px;
}
.button-2:hover
{
	color: #fff;
	background-color: #02b8dd;
	
}
/*thirst*/

#fir h2
{
	margin-top: 30px;
    text-align: center;
    font-size: 2.5em;
	color: black;
}