*{
    margin: 0;
    padding: 0;
    font-family: lucida sans;
}
ul{
    list-style-type: none;
}
.menuderoulant li{
    display: flex;
    float: left;
    width: 150px;
   padding: 15px;
   margin-top: 1.5%;
   margin-right: -2%;
   position: relative;
   z-index: 1000;
}
.menuderoulant li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    
}
.menuderoulant li a:hover{
    color: black;
}
#sousmenu{
    display: none;
    background: white;
    margin-left: -20%;
    margin-top: 20%; 
    width: 80%;
    position: absolute;
}
#sousmenu li:hover{
    background-color: rgb(175, 174, 174);
    width: 80%;
    
}
#sousmenu li a{
    color: rgb(85, 84, 84);
	font-family: lucida sans;
    font-size: 12px;
}
#sousmenu li a:hover{
    color: lightblue;
    
}
#menuprincipal:hover #sousmenu{
    display: block;
    
}

.aa{
    margin-left: 29%;
}
.cc{
    margin-left: 70%;
    color: white;
    font-size: 1.2em;
    margin-top: -4%;
}
.cc h1{
    color: black;
}
.cc h1:hover{
    color: white;
}
header{
    width: 100%;
    height: 90px;
    background-color: lightblue;
    
    
}

@media screen and (max-width:1350px){
    .bb4{
       
        visibility: hidden;
    }
}
@media screen and (max-width:1140px){
    .bb3{
        
        visibility: hidden;
    }
}
@media screen and (max-width:950px){
    .bb2{
        
        visibility: hidden;
    }
}
@media screen and (max-width:800px){
    .bb1{
        visibility: hidden;
    }
}
@media screen and (max-width:600px){
    .aa{
        visibility: hidden;
    }
    .cc{
        margin-left: 115%;
        margin-top: 5%;
        font-size: 1.2em;
    }
    
}
 
/*nouveau hamburger*/

.nav{
    
    text-align: right;
    height: 70px;
    line-height: 70px;
    display: none;
}
.logo{
    
    text-decoration: none;
    color: black;
    font-family: lucida sans;
}
.logo:hover{
    color: white;
}
.menu{
    margin: 0 30px 0 0;
    display: none;
    
}
.menu a{
    text-decoration: none;
    color: white;
    background: black;
    opacity: 0.8;
    margin: 0 10px;
    line-height: 50px;
    clear: right;  
}
.menu a:hover{
    background-color: lightblue;
}
label{
    margin: 10px 40px 0 0;
    font-size: 36px;
    line-height: 70px;
    display: none;
    width: 50%;
    float: right;
}
#toggle{
    display: none;
}
@media only screen and (max-width:600px){
    .content{
        display: none;
    }
    .nav{
        display: block;
    }
    label{
        display: block;
        cursor: pointer;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a{
        display: block;
        border-bottom: 1px solid #1b1b1b;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block;
    }
}

/*banniere pour mobile*/
.ban{
    border-bottom: 15px solid lightblue;
    display: none;
}

@media only screen and (max-width:600px){
    
    .ban{
        display: block;
    }
    .section{
        display: none;
    }
    /*FOOTER MOBILE*/
    .footer{
        max-width: 600px;
        width: 100%;
        height: auto;
        margin: 10px auto;  
        display: grid;  
        grid-template-columns: repeat(auto-fill, 204px);
        justify-content: center;

    }
    .liste-media a{
        font-size: 15px;
    }
    .grid-items{
        width: 200px;
    }
}
@media screen and (max-width: 600px){
	body{
		width: 550px;
	}
}

/*first*/

.first
{
	background-image: url("jk.jpg");
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
}
.first h2
{
    font-size: 3.5em;
    text-align: center;
	padding-top: 220px;
}
.first p 
{
    text-align: center;
    font-size: 1.7em;
    padding-top: 30px;
}
form
{
	margin-left: 520px;
    padding-top: 20px;
    
}

input[type="text"]
{
   padding: 10px;
   font-size: 13px;
   margin-right: 20px;
   border: 2px solid #ddd;
   border-radius: 3px;
   width: 400px;
   line-height: 25px;
}
.button-3
{
	color: #777;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	background-color: lightblue;
	border-style: none;
	border-radius: 3px;
	line-height: 35px;
	padding-top: 0.4%;
	transition: 1.5s;
	
}
.button-3:hover
{
	color: #fff;
	background-color: #444;
}
strong
{
	font-style: arial black;
}
.clear
{
	clear: both;
}
#main
{
	margin-top: 40px;
	
}
@media screen and (max-width: 600px) {
	.first{
	background-image: url("jk.jpg");
	background-size: cover;
	background-position: center;
	}
	.first h2{
		font-size: 2.2em;
	}
	.first p{
		font-size: 1.2em;
	}
	form{
		display: flex;
		flex-direction: column;
	}
	form input{
        margin-left: -405px;
	}
	form .button-3{
		width: 110px;
		margin-top: 5px;
		width: 323px;
	}
    form  #f{
		width: 300px;
	}

}

/*main*/

.me h2
{
    margin-top: 35px;
    text-align: center;
    font-size: 2.5em;
	color: black;
	margin-bottom: 20px;
	font-family: 'Courier New', Courier, monospace;
}
article
{
	width: 300px;
	height: 270px;
	float: left;
	display: inline-block;
	border-radius: 10px;
	padding-left: 10px;
	margin-left: 68px;
	margin-top: 15px;
	box-shadow: 0px 10px 10px 0px rgb(204, 202, 202);
	
}

.we
{
	height: 85%;
	width: 190px;
	padding: 20px;
	text-align: center;
	background: lightblue;

}
article h3
{
    border-bottom: 1px solid rgb(248, 244, 244);
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
	margin-top: 30px;
}
.we p
{
	text-align: center;
	padding-bottom: 30px;
}

.button-2 
{
	color: #fff;
	background-color: grey;
	padding: 6px 20px;
	border-radius: 3px;
	padding-bottom: 10px;
	margin-top: 15px;
	text-decoration: none;
	transition: 1.5s;
	
}
.button-2:hover
{
	background-color: #02b8dd;
	
}
@media screen and (max-width: 600px) {
	article{
		margin-left: 55px;
		width: 430px;
	}
}

/*slid*/
.clear{
	display: flex;
	justify-content: center;
	align-items: center;
}
#slid
{
	overflow: hidden;
	margin-top: 100px;
	width: 80%;
	height: 500px;
	
}
#slid figure
{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slid figure img
{
	width: 20%;
	float: left;
}
@keyframes slider 
{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%;
	}
}

/*thirst*/

#fir h2
{ 
	margin-top: 80px;
    margin-left: 182px;
    font-size: 2.5em;
	color: black;
	margin-bottom: 65px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: rgb(135, 134, 218);
}
.grille
{
	max-width: 1300px;
	width: 80%;
	height: auto;
	margin: 30px 135px 40px auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	justify-content: center;
	grid-gap: 20px;
}
.grid-item
{
	width: 250px;
	height: 250px; 
	background: rgb(221, 219, 219);
	transition: 1s;
	margin-bottom: 50px;
	border-radius: 5%;
	box-shadow: 2px 6px 6px rgb(221, 219, 219);
	
}	
.grid-item img
{
	border-radius: 5%;
}
.grid-item:hover img
{
	border-radius: 0%;
}
.grid-item:hover
{
   transform: scale(1.2);
   z-index: 2;
   border-radius: 0%;
}
@media screen and (max-width: 600px){
	#fir h2{
		margin-top: -150px;
		margin-left: 87px;
	}
	.grille{
		margin-right: 102px;
	}
	.grid-item{
		width: 400px;
	}
	.grid-item img{
		width: 400px;
	}
	
}

/*marquee*/

.lui h2
{
	margin-top: 70px;
    text-align: center;
    font-size: 2.5em;
	color: black;
	margin-bottom: 35px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-left: 50px;
	margin-right: 50px;
	color: white;
	background-color: rgb(19, 10, 71);
}
.part h2
{
	font-size: 3em;
	margin-left: 50px ;
	margin-top: 70px;
	color: rgb(21, 21, 70);
	
}
.part p
{
	font-size: 1.2em;
	font-family: fantasy;
    margin-left: 50px;
	padding-right: 140px;
	margin-top: 20px;
	color: rgb(21, 21, 70)
	
}
.part
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;

}
.part .avec
{
	display: flex;
}
.imgb
{
	margin-right: 50px;
}
.imgb img
{
	box-shadow: 0px 8px 8px 0px rgb(144, 151, 187);
}
@media screen and (max-width: 600px){
	.part{
		display: block;
	}
    .imgb {
		 margin-top: 50px;
		 width: 400px;
		 margin-left: 43px;
	 }
	.imgb img{
		width: 465px;
	}
	.part .avec
	{
		display: block;
	}	
		
}

.clear
{
	clear: both;
}
.lou h2
{
	margin-top: 60px;
    text-align: center;
    font-size: 2.5em;
	color: black;
	margin-bottom: 35px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*footer*/

.footer{
    max-width: 1300px;
    width: 100%;
    height: auto;
    margin: 30px auto;  
    display: grid;  
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px; 
}
footer{
    background: #333;
    color: #f1f1f1;
    opacity: 0.8;
}

.grid-items{
    width: 300px;
    height: 300px;
    position: relative;

}
.bloc{
    margin: 0 30px;
}

/*contact*/

.footer-contact h3, .footer-services h3, .footer-horaires h3, .footer-media h3{
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 30px;
    color: black;
}
.footer-contact p{
    padding: 5px 0;
}
.liste-contacts p{
    transition: 0.5s;
}
.liste-contacts p:hover{
    transform: translateY(-10px);
}

/*services*/

.liste-services, .liste-horaires, .liste-media{
    list-style-type: none;
}
.liste-services li{
    padding: 5px 0;
    transition: 0.5s;
}
.liste-services li:hover{
    transform: translateY(-10px);
}
.liste-services li a{
    text-decoration: none;
    color: #f1f1f1;
}
.liste-services li a:hover{
    color: lightblue;
   
}

/*media*/

.liste-media img{
    width: 40px;
    margin: 10px 10px;
}
.liste-media a{
    text-decoration: none;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    font-size: 25px;
    transition: 0.5s;
}
.liste-media a:hover{
    color: lightblue;
    transform: translateY(-10px);
}

/*horaire*/

.liste-horaires li{
    padding: 5px 0;
    transition: 0.5s;
}
.liste-horaires li:hover{
    transform: translateY(-10px);
}
.copyright{
    width: 100%;
    height: 50px;
    margin-top: 5%;
    background: rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}
