
*{
    margin: 0;
    padding: 0;
    
}
ul{
    list-style-type: none;
}
.menuderoulant li{
    display: flex;
    float: left;
    width: 100px;
   padding: 10px;
   margin-top: 2%;
   position: relative;
}
.menuderoulant li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family: lucida sans;
}
.menuderoulant li a:hover{
    color: black;
}
#sousmenu{
    display: none;
    background: white;
    margin-left: -15%;
    margin-top: 20%; 
    width: 90%;
    position: absolute;
}
#sousmenu li:hover{
    background-color: rgb(175, 174, 174);
    width: 81.5%;
    
}
#sousmenu li a{
    color: rgb(85, 84, 84);
    font-family: lucida sans;
    font-size: 12px;
}
#sousmenu li a:hover{
    color: lightblue;
    
}
#menuprincipal:hover #sousmenu{
    display: block;
    position: absolute;
}

.aa{
    margin-left: 40%;
}
.cc{
    margin-left: 70%;
    color: white;
    font-size: 1.2em;
    margin-top: -4%;
}
.cc h1{
    color: black;
}
.cc h1:hover{
    color: white;
}
header{
    width: 100%;
    height: 90px;
    background-color: lightblue;
    
    
}

@media screen and (max-width:1350px){
    .aa{
       margin-left: 38%;
    }
    #sousmenu{
        display: none;
        background: white;
        margin-left: -15%;
        margin-top: 20%; 
        width: 90%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 81.5%;
        
    }
}
@media screen and (max-width:1300px){
    .aa{
       margin-left: 38%;
    }
    .menuderoulant li{
        padding: 12px;
    }
    #sousmenu{
        display: none;
        background: white;
        margin-left: -15%;
        margin-top: 20%; 
        width: 90%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 81.5%;
        
    }
}
@media screen and (max-width:1250px){
    .aa{
       margin-left: 28%;
    }
    .menuderoulant li{
        padding: 12px;
    }#sousmenu{
        display: none;
        background: white;
        margin-left: -15%;
        margin-top: 15%; 
        width: 90%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 78.5%;
        
    }
}
@media screen and (max-width:1100px){
    .aa{
       margin-left: 20%;
    }
    .menuderoulant li{
        padding: 13px;
    }
    #sousmenu{
        display: none;
        background: white;
        margin-left: -15%;
        margin-top: 15%; 
        width: 90%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 77.5%;
        
    }
    
}
@media screen and (max-width:1024px){
    .aa{
        margin-left: 25%;
    }
    .menuderoulant li{
        padding: 10px;
    }
    .menuderoulant li a{
        font-size: 13px;
        margin-top: 10%;
    }
    .cc{
        margin-top: 5%;
        margin-left: 20%;
    }
    #sousmenu{
        display: none;
        background: white;
        margin-left: -15%;
        margin-top: 20%; 
        width: 90%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 81.5%;
        
    }
    #sousmenu li a{
        padding: 0px;
    }
} 
@media screen and (max-width:1000px){
    .aa{
        margin-left: 15%;
    }
    
}
@media screen and (max-width:865px){
    .aa{
        margin-left: 5%;
    }
}
@media screen and (max-width:790px){
    .menuderoulant li{
        padding: 0px;
        margin-top: 4%;
    }#sousmenu{
        display: none;
        background: white;
        margin-left: -15%;
        margin-top: 25%; 
        width: 100%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 100%;
        
    }
#sousmenu li a{
    padding: 5px;
}
}

/*nouveau hamburger*/

.nav{
    
    text-align: right;
    height: 70px;
    display: none;
}
.logo{
    text-decoration: none;
    color: black;
    font-family: lucida sans;
    margin-right: 55%;
}
.logo:hover{
    color: white;
}
.menu{
    margin: 0 30px 0 0;
    display: none;
    
}
.menu a{
    text-decoration: none;
    color: white;
    background: black;
    opacity: 0.8;
    margin: 0 10px;
    line-height: 50px;
    clear: right;  
}
.menu a:hover{
    background-color: lightblue;
}
label{
    margin: 10px 40px 0 0;
    font-size: 36px;
    line-height: 70px;
    display: none;
    width: 100%;
    float: right;
    
}

#toggle{
    display: none;
}
@media only screen and (max-width:650px){
    .content{
        display: none;
    }
    .nav{
        display: block;
    }
    label{
        display: block;
        cursor: pointer;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a{
        display: block;
        border-bottom: 1px solid #1b1b1b;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block;
    }
}
@media only screen and (max-width:450px){
    .logo{
        margin-right: 40%;
    }
}
@media only screen and (max-width:355px){
    .logo{
        margin-right: 30%;
    }
}

/*banniere pour mobile*/

.banner{
    display: none;
}
.ban{
    display: none;
}

@media only screen and (max-width:600px){
    .banner{
        display:none;
        background: url(images/graphic-design-CODAGE.png) no-repeat;
        width: 100%;
        padding-top: 20%;
        padding-bottom: 15%;
        background-size: cover;
        text-align: center;
        color: black;
        font-family: cursive;
        font-weight: bold;
        font-size: 20px;
    }
    .ban{
        display: block;
        border-bottom: 10px solid lightblue;
    }
    .section{
        display: none;
    }
    /*FOOTER MOBILE*/
    .footer{
        max-width: 600px;
        width: 100%;
        height: auto;
        margin: 10px auto;  
        display: grid;  
        grid-template-columns: repeat(auto-fill, 204px);
        justify-content: center;

    }
    .liste-media a{
        font-size: 15px;
    }
    .grid-items, .grid-items1, .grid-items2{
        width: 224px;
    }
    .grid-items1, .grid-items2{
        display: none;
    }
}
@media only screen and (max-width:450px){
    .logo{
        margin-right: 40%;
    }
}
@media only screen and (max-width:355px){
    .logo{
        margin-right: 30%;
    }
}
@media only screen and (max-width:310px){
    .logo{
        margin-right: 20%;
    }
}
@media only screen and (max-width:415px){
    .footer{
        grid-template-columns: repeat(auto-fill, 188px);
    }
    .grid-items, .grid-items1, .grid-items2{
        width: 188px;
        height: 300px;
    }
    .copyright{
        margin-top: 20%;
    }
}

/*body*/

body
{
    background-size: cover;
    width: none;
}
@media screen and (max-width: 800px){
    body{
        width: none;
    }
}
@media screen and (max-width: 650px){
    body{
        width: none;
    }
}
@media screen and (max-width: 600px){
    body{
        width: none;
    }
}
@media screen and (max-width: 430px){
    body{
      background-size: cover;
      width: none;
    }
}
@media screen and (max-width: 330px){
    body{
        background-size: cover;
        width: none;
    }
}

/*first*/

.first
{
	background-image: url("jk.jpg");
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
}
.first h2
{
    font-size: 3.5em;
    text-align: center;
	padding-top: 220px;
}
.first p 
{
    text-align: center;
    font-size: 1.7em;
    padding-top: 30px;
}
form
{
	padding-left: 520px;
    padding-top: 20px;
}

input[type="text"]
{
   padding: 10px;
   font-size: 13px;
   margin-right: 20px;
   border: 2px solid #ddd;
   border-radius: 3px;
   width: 25vw;
   line-height: 25px;
}
.button-3
{
	color: #777;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	background-color: lightblue;
	border-style: none;
	border-radius: 3px;
	line-height: 35px;
	padding-top: 0.4%;
	transition: 1.5s;
}
.button-3:hover
{
	color: #fff;
	background-color: #444;
}
strong
{
	font-style: arial black;
}
.clear
{
	clear: both;
}
#main
{
	margin-top: 40px;
	
}

@media screen and (max-width: 1380px){
    .first{
        background-image: url("jk.jpg");
        background-size: cover;
        background-position: center;
        }
    
    form input{
        margin-left: -120px;
	}
	form .button-3{
		margin-left: 10px;
	}
}
@media screen and (max-width: 1140px){
    .first{
        background-image: url("jk.jpg");
        background-size: cover;
        background-position: center;
        }
    form{
        margin-left: 5px;
    }
    form #f{
       display: block;
    }
    form .button-3{
       width: 27.5vw;
       margin-top: 10px;
       margin-left: -120px;
    }
	
}
@media screen and (max-width: 955px){

    .first{
        background-image: url("jk.jpg");
        background-size: cover;
        background-position: center;
        }
    form{
        margin-left: -63px;
    }
    
    
}
@media screen and (max-width: 800px){
   
    .first{
        background-image: url("jk.jpg");
        background-size: cover;
        background-position: center;
        }
    form{
		margin-left: -123px;
	}
	

   
}
@media screen and (max-width: 650px) {
   
	.first{
	background-image: url("jk.jpg");
	background-size: cover;
	background-position: center;
	}
	
	form{
		margin-left: -180px;
	}
    form .button-3{
        width: 29vw;
     }

} 
@media screen and (max-width: 600px){
    .first{
        background-image: url("jk.jpg");
        background-size: cover;
        background-position: center;
        }
        
        form{
            margin-left: -207px;
        }
        
}
@media screen and (max-width: 500px) {
	.first{
	background-image: url("jk.jpg");
	background-size: cover;
	background-position: center;
	}
    .first h2{
        font-size: 2em;
    }
	
	form{
        margin-left: -235px;
	}
    form .button-3{
        width: 30vw;
     }
    
} 
@media screen and (max-width: 430px){
    .first h2{
        font-size: 1.8em;
    }
    form{
        margin-left: -288px;
	}
    #f{
        width: 40vw;
     }
    form .button-3{
        width: 46vw;
     }
}
@media screen and (max-width: 330px){
        .first h2{
            font-size: 1.8em;
           
        }
        .first p{
            font-size: 1.3em;
        }
        form{
            margin-left: -327px;
        }
        #f{
            width: 40vw;
         }
        form .button-3{
            width: 48vw;
         }
}


/*main*/

.me h2
{
    margin-top: 150px;
    text-align: center;
    font-size: 2.5em;
	color: black;
	margin-bottom: 20px;
	font-family: 'Courier New', Courier, monospace;
}

.art
{
	width: 80vw;
	height: auto;
	display: grid;   
	margin: 120px 150px 40px auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	justify-content: center;
	grid-gap: 20px;
	background-image: url(serv5.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}

.we
{
	width: 250px;
	height: 270px; 
	background: lightblue;
	margin-bottom: 50px;
	border-radius: 5%;
    margin-top: 50px;
    margin-left: 20px;
   
}
.art h3
{
    border-bottom: 1px solid rgb(248, 244, 244);
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
	margin-top: 30px;
}
.we p
{
	text-align: center;
	padding-bottom: 30px;
    padding-top: 30px;
}

.button-2 
{
	color: #fff;
	background-color: grey;
	padding: 6px 20px;
	border-radius: 3px;
	padding-bottom: 10px;
	margin-top: 15px;
    margin-left: 50px;
	text-decoration: none;
	transition: 1.5s;
	
}
.button-2:hover
{
	background-color: #02b8dd;
	
}

@media screen and (max-width: 1380px){

    .art
{
     width: 70vw;
     height: auto;
	display: grid;   
	margin: 120px 200px 40px auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 400px);
	justify-content: center;
	grid-gap: 20px;
    background: none;
}

.we
{
	width: 350px;
	height: 320px; 
	background: lightblue;
	margin-bottom: 50px;
	border-radius: 5%;
    margin-top: 50px;
    margin-left: 20px;
}

.button-2 
{
	padding-bottom: 10px;
	margin-top: 55px;
    margin-left: 100px;
	
}
}
@media screen and (max-width: 1140px){
    .art
    {
         width: 70vw;
         height: auto;
        display: grid;   
        margin: 120px 163px 40px auto;
        grid-template-columns: repeat(auto-fill, 300px);
        justify-content: center;
        grid-gap: 20px;
        background-image: url(serv3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
   
    .we
    {
        width: 300px;
        height: 350px; 
        margin-bottom: 50px;
        border-radius: 5%;
        margin-top: 50px;
        margin-left: -5px;
    }
}
@media screen and (max-width: 955px){
    .art{
        width: 75vw;
        margin-left: 110px;
        background-image: url(serv2.jpg);
    }
    
}
@media screen and (max-width: 800px){
    .art{
        margin-left: 90px;
        background-image: url(serv3.jpg);
    } 
}
@media screen and (max-width: 650px){
    .art{
        margin-left: 70px;
    }
}
@media screen and (max-width: 600px){
    .art{
        margin-left: 60px;
    }
}
@media screen and (max-width: 500px){
    .art{
        margin-left: 55px;
    }
}
@media screen and (max-width: 430px){
        .art{
            background: none;
            margin-left: 82px;
        }
        .we
            {
                width: 250px;
                height: 320px; 
            }
            .button-2 
            {
                margin-left: 70px;
                
            }
}
@media screen and (max-width: 330px){
    .me h2{
        font-size: 1.5em;
    }
    .art{
        background: none;
        margin-left: 100px;
        margin-top: 100px;
    }
    .we
    {
        width: 180px;
        height: 320px; 
        
    }
    .button-2 
            {
                margin-left: 25px;
                
            }
}
@media screen and (max-width: 230px){
    
    .art{
        background: none;
    }
    .we
    {
        width: 210px;
        height: 250px; 
        
    }
}

/*slid*/
.clear{
	display: flex;
	justify-content: center;
	align-items: center;
    
}
#slid
{
    margin-top: 50px;
	overflow: hidden;
	margin-top: 100px;
	width: 70%;
	height: 500px;
	
}
#slid figure
{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slid figure img
{
	width: 20%;
	float: left;
}
@keyframes slider 
{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%;
	}
}
@media screen and (max-width: 430px){
       #slid{
           margin-left: 18px;
       }
}
@media screen and (max-width: 330px){
    #slid{
        margin-left: 0px;
    }
}

/*thirst*/

.sus{
    
    width: 90%;
}
.sus h2
{ 
    background-image: url("images/font.png");
    background-repeat: no-repeat;
    height: 100px;
    padding-top: 70px;
    margin-left: 20px;
	margin-top: 100px;
    text-align: center;
    font-size: 2.5em;
	color: rgb(87, 78, 209);
	margin-bottom: 65px;
    text-shadow: 5px 15px 8px rgb(195, 187, 228);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

    
}
.grille
{
    padding-top: 100px;
	max-width: 1300px;
	width: 80%;
	height: auto;
	margin: 30px 135px 40px auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	justify-content: center;
	grid-gap: 20px;
}
.grid-item
{
	width: 250px;
	height: 250px; 
	background: rgb(221, 219, 219);
	transition: 1s;
	margin-bottom: 50px;
	border-radius: 5%;
	box-shadow: 2px 6px 6px rgb(221, 219, 219);
	
}	
.grid-item img
{
	border-radius: 5%;
}
.grid-item:hover img
{
	border-radius: 0%;
}
.grid-item:hover
{
   transform: scale(1.2);
   z-index: 2;
   border-radius: 0%;
}
@media screen and (max-width: 1380px){
	.sus h2{
        background: #444;
        margin-left: 150px;
        padding-top: 50px;
    }
	.grille{
        margin-left: 160px;
    }
	
}
@media screen and (max-width: 1140px){
    .sus h2{
        margin-left: 110px;
    }
    .grille{
        margin-left: 137px;
    }
}
@media screen and (max-width: 955px){
    .sus h2{
        margin-left: 93px;
        background-color: rgb(30, 17, 63);
    }
    .grille{
        margin-left: 119px;
    }
}
@media screen and (max-width: 800px){
    .sus h2{
        margin-left: 77px;
    }
    .grille{
        margin-left: 100px;
    }
}
@media screen and (max-width: 650px){
    .sus{
        margin-top: -80px;
    }
    .sus h2{
        margin-left: 65px;
    }
    .grille{
        margin-left: 87px;
    }
}
@media screen and (max-width: 600px){
    .sus h2{
        margin-left: 57px;
    }
    .grille{
        margin-left: 82px;
    }
}
@media screen and (max-width: 500px){
    .sus{
        margin-top: -170px;
    }
    .sus h2{
        margin-left: 48px;
        padding-top: 20px;
        background-color: #444;
    }
    .grille{
        margin-left: 73px;
    }
}
@media screen and (max-width: 430px){
    .sus{
        margin-left: -5px;
      
    }
    .sus h2{
       font-size: 1.4em;
       padding-top: 50px;
    }
    .grille{
        margin-left: 67px;
    }
}
@media screen and (max-width: 330px){
    .sus{
        margin-top: -350px;
      
    }
    .sus h2{
        padding-top: 50px;
       font-size: 1.2em;
       background: none;
       margin-left: 60px;
    }
    .grille{
        margin-left: 75px;
       margin-top: -100px;
    }
        .grid-item
    {
        width: 100px;
    }
    .grid-item img
    {
        width: 200px;
    }	
}

/*marquee*/

.lui h2
{
	margin-top: 100px;
    width: 90vw;
    text-align: center;
    font-size: 2.5em;
	color: black;
	margin-bottom: 35px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-left: 50px;
	margin-right: 50px;
	color: white;
	background-color: rgb(19, 10, 71);
}
.content1 h2
{
	font-size: 3em;
	margin-left: 50px ;
	margin-top: 70px;
	color: rgb(21, 21, 70);
	
}
.content1 p
{
	font-size: 1.2em;
	font-family: fantasy;
    margin-left: 50px;
	padding-right: 140px;
	margin-top: 20px;
	color: rgb(21, 21, 70)
	
}

.avec
{
	display: flex;
    justify-content: center;
	align-items: center;
	margin-top: 70px;
}
.imgb
{
	margin-right: 50px;
}
.imgb img
{
	box-shadow: 0px 8px 8px 0px rgb(144, 151, 187);
}
@media screen and (max-width: 1380px){
	.lui{
		width: 60vw;
        margin-left: 10px;
	}
    .content1{
        width: 50vw;
    }
    .imgb {
		 margin-top: 50px;
		 width: 300px;
         padding-top: 120px;
         margin-left: 20px;
	 }
	.imgb img{
		width: 465px;
        height: 100%;
	}
    .avec{
        margin-right: 180px;
    }
	
}
@media screen and (max-width: 1140px){
    .lui{
        margin-left: -2px;
    }
    .avec{
        margin-left: 12px;
    }
    .content1 p{
        font-size: 1em;
    }
}
@media screen and (max-width: 955px){
       .lui{
           margin-left: -11px;
       }
       .content1{
           margin-left: 30px;
       }
       .content1 p{
           font-size: 0.8em;
           width: 300px;
           padding-top: 30px;
       }
       .content1 h2{
           font-size: 2.5em;
       }
       .imgb img{
        width: 365px;
        margin-left: 70px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 800px){
    .lui{
        margin-left: -20px;
    }
    .avec{
        display: block;
    }
    .content1{
        margin-left: 75px;
    }
    .content1 h2{
     font-size: 2em;
    }
    .content1 p{
        font-size: 1em;
        width: 500px;
    }
      .imgb img{
          width: 500px;
          margin-left: 107px;
          margin-top: -90px;
      }
}
@media screen and (max-width: 650px){
    .lui{
       margin-left: -25px;
    }
    .avec{
        display: block;
    }
    .content1 h2{
        font-size: 2em;
        margin-left: 80px;
       }
    .content1 p{
        font-size: 1em;
        width: 300px;
        margin-left: 80px;
    }
      .imgb img{
          width: 400px;
          margin-left: 80px;
          margin-top: -90px;
      }
    
}
@media screen and (max-width: 600px){
    .lui{
        margin-left: -29px;
     }
     .content1 h2{
        font-size: 2em;
        margin-left: 60px;
       }
    .content1 p{
        font-size: 1em;
        width: 300px;
        margin-left: 40px;
    }
      .imgb img{
          width: 350px;
          margin-left: 70px;
          margin-top: -90px;
      }
}
@media screen and (max-width: 500px){
    .lui{
        margin-left: -35px;
     }
     .lui h2{
         font-size: 1.8em;
     }
     .content1{
        margin-left: 20px;
     }
    .imgb img{
        width: 400px;
        margin-left: 9px;
    }
    
}
@media screen and (max-width: 430px){
    .lui{
        width: 10vw;
        margin-left: -30px;
    }
    .lui h2{
       font-size: 1.5em;
     }
    .content1 h2{
        font-size: 1.5em;
    }
    .content1 p{
        font-size: 1em;
        width: 200px;
       
    }
    .imgb img{
        width: 300px;
        margin-left: 27px;
    }
    
}
@media screen and (max-width: 330px){
    .lui{
        width: 10vw;
        margin-left: -38px;
    }
    .lui h2{
       font-size: 1.2em;
     }
    .content1 h2{
        font-size: 1.2em;
        margin-left: 30px;
    }
    .content1 p{
        font-size: 1em;
        width: 200px;
        margin-left: 10px;
    }
    .imgb img{
        width: 200px;
        margin-left: 7px;
    }
    
}

.clear
{
	clear: both;
}
.lou h2
{
	margin-top: 80px;
    text-align: center;
    font-size: 2.5em;
	color: black;
	margin-bottom: 35px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media screen and (max-width: 430px){
    .lou h2{
        font-size: 1.8em;
    }
}
@media screen and (max-width: 330px){
    .lou h2{
        font-size: 1.5em;
    }
}

/*button*/


 html{
     scroll-behavior: smooth;
 }

/*footer*/

.footer{
    max-width: 1300px;
    width: 100%;
    height: auto;
    margin: 30px auto;  
    display: grid;  
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px; 
}
footer{
    background: #333;
    color: #f1f1f1;
    opacity: 0.8;
    animation: couleur 5s infinite;
}
@keyframes couleur{
    25%{
        background: rgb(34, 73, 71);
    }
    50%{
        background: rgb(60, 38, 82);
    }
    100%{
        background: #333;
    }
}

.grid-items, .grid-items1, .grid-items2{
    width: 300px;
    height: 300px;
    position: relative;
    
}
.bloc{
    margin: 0 30px;
}

/*contact*/
.footer-contact h3, .footer-services h3, .footer-horaires h3, .footer-media h3{
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 30px;
    color: blueviolet;
    font-family: lucida sans
}
.footer-contact p{
    padding: 5px 0;
}
.liste-contacts p{
    transition: 0.5s;
}
.liste-contacts p:hover{
    transform: translateY(-10px);
}

/*services*/

.liste-services, .liste-horaires, .liste-media{
    list-style-type: none;
}
.liste-services li{
    padding: 5px 0;
    transition: 0.5s;
}
.liste-services li:hover{
    transform: translateY(-10px);
}
.liste-services li a{
    text-decoration: none;
    color: #f1f1f1;
}
.liste-services li a:hover{
    color: lightblue;
   
}

/*media*/

.liste-media img{
    width: 40px;
    margin: 10px 10px;
}
.liste-media a{
    text-decoration: none;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    font-size: 25px;
    transition: 0.5s;
}
.liste-media a:hover{
    color: lightblue;
    transform: translateY(-10px);
}

/*horaire*/

.liste-horaires li{
    padding: 5px 0;
    transition: 0.5s;
}
.liste-horaires li:hover{
    transform: translateY(-10px);
}
.copyright{
    width: 100%;
    height: 50px;
    margin-top: 5%;
    background: rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}