*{
    margin: 0;
    padding: 0;
    font-family: lucida sans;
}
ul{
    list-style-type: none;
}
.menuderoulant li{
    display: flex;
    float: left;
    width: 150px;
   padding: 15px;
   margin-top: 1.5%;
   margin-right: -2%;
   position: relative;
}
.menuderoulant li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    
}
.menuderoulant li a:hover{
    color: orange;
}
#sousmenu{
    display: none;
    background: white;
    margin-left: -20%;
    margin-top: 20%; 
    width: 80%;
    position: absolute;
}
#sousmenu li:hover{
    background-color: gainsboro;
    width: 80%;
    
}
#sousmenu li a{
    color: rgb(85, 84, 84);
}
#sousmenu li a:hover{
    color: orange;
    
}
#menuprincipal:hover #sousmenu{
    display: block;
    
}

.aa{
    margin-left: 29%;
}
.cc{
    margin-left: 70%;
    color: white;
    font-size: 1.2em;
    margin-top: -4%;
}
header{
    height: 90px;
    background-color: lightblue;
}
#log{
    text-align: center;
    font-size: 2em;
    color: rgb(37, 36, 36);
    margin: 5%;
}
.flyers{
    margin: 22%;
    margin-top: -1%;
}
.graphisme{
    
    margin-top: -2%;
    
}
@media screen and (max-width:1350px){
    .bb4{
       
        visibility: hidden;
    }
}
@media screen and (max-width:1140px){
    .bb3{
        
        visibility: hidden;
    }
}
@media screen and (max-width:950px){
    .bb2{
        
        visibility: hidden;
    }
}
@media screen and (max-width:800px){
    .bb1{
        visibility: hidden;
    }
}
@media screen and (max-width:600px){
    .aa{
        visibility: hidden;
    }
    .cc{
        margin-left: 120%;
        margin-top: 5%;
        font-size: 1.2em;
    }
    
}
.banner{
    background: url("images/ssssssssssssssss.jpg") no-repeat;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 15%;
    background-size: cover;
    text-align: center;
    color: rgb(255, 0, 0);
    
}
.banner h1{
    margin-bottom: 2%;
    font-size: 2.5em;
}
.banner h3{
    font-size: 2.2em;
}

.grille1{
    max-width: 1300px;
    width: 100%;
    height: auto;
    margin: 30px;  
    display: grid;  
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px; 
}
.grid-item{
    width: 300px;
    height: 300px;
    background: url("images/illustration-carte-visite-elegante-vecteur-libre_1435-1228.jpg");
}
.h1-grille1{
    margin: 40px 0px;
    text-align: center;
    font-size: 1.2em;
}

.grille2{
    max-width: 900px;
    width: 100%;
    height: auto;
    margin: 0px 230px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px;
}
.grid-item1{
    width: 300px;
    height: 200px;
    background: purple;
}
.grid-item2{
    width: 300px;
    height: 200px;
    background: greenyellow;
}
.grid-item3{
    width: 610px;
    height: 200px;
    background: red;
}

.icon{
    margin-left: 28%;    
    
}
footer
{
    background-color: lightblue;
    margin-top: 5%;
}

































