*{
    margin: 0;
    padding: 0;
}
body{width: 100%;}

ul{
    list-style-type: none;
}
.menuderoulant li{
    display: flex;
    float: left;
    width: 150px;
   padding: 10px;
   margin-top: 2%;
   position: relative;
}
.menuderoulant li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family: lucida sans;
}
.menuderoulant li a:hover{
    color: black;
}
#sousmenu{
    display: none;
    background: white;
    margin-left: -70%;
    margin-top: 20%; 
    width: 100%;
    position: absolute;
}
#sousmenu li:hover{
    background-color: rgb(175, 174, 174);
    width: 86.5%;
    
}
#sousmenu li a{
    color: rgb(85, 84, 84);
    font-family: lucida sans;
    font-size: 12px;
}
#sousmenu li a:hover{
    color: lightblue;
    
}
#menuprincipal:hover #sousmenu{
    display: block;
    position: relative;
}


.aa{
    margin-left: 23%;
}
.cc{
    margin-left: 70%;
    font-size: 1.2em;
    margin-top: -4%;
}
.cc h1{
    color: black;
}
.cc h1:hover{
    color: white;
}
header{
    width: 100%;
    height: 90px;
    background-color: lightblue;
      
}

@media screen and (max-width:1350px){
    .bb4{
       
        visibility: hidden;
    }
}
@media screen and (max-width:1140px){
    .bb3{
        
        visibility: hidden;
    }
}
@media screen and (max-width:950px){
    .bb2{
        
        visibility: hidden;
    }
}
@media screen and (max-width:800px){
    .bb1{
        visibility: hidden;
    }
}
@media screen and (max-width:650px){
    .aa{
        visibility: hidden;
    }
    .cc{
        margin-left: 115%;
        margin-top: 5%;
        font-size: 1.2em;
    }
    
}

.banner{
    background: url("images/ssssssssssssssss.jpg") no-repeat;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 15%;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: lucida sans;
}
.banner h1{
    margin-bottom: 2%;
    font-size: 2.8em;
}
.banner h3{
    font-size: 2.2em;
}

.grille1{
    max-width: 1300px;
    width: 100%;
    height: auto;
    margin: 30px auto;  
    display: grid;  
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px; 
}
.grid-item{
    width: 300px;
    height: 300px;
    position: relative;
    
}
.grid-item img{
    border-radius: 3%;
}
.over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(20, 196, 250);
    color: black;
    font-weight: bold;
    font-size: 2.5em;
    display: flex;
    font-family: Quicksand, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 2.5s;

}
.over:hover{
    opacity: 0.5;

}
.grid-item:hover img{
    border-radius: 0%;
    transition: border-radius 2.5s;
}


.h1-grille1{
    background: url(images/font.png) no-repeat;
    width: 100%;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 50px;
    margin: 40px 0px;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}

.grille2{
    max-width: 900px;
    width: 100%;
    height: auto;
    margin: 0px auto 230px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px;
}
.grid-item1{
    width: 300px;
    height: 200px;
    position: relative;
}
.grid-item2{
    width: 300px;
    height: 200px;
    position: relative;
}
.grid-item3{
    width: 610px;
    height: 200px;
    position: relative;
}

@media screen and (max-width: 900px){
    .grid-item3{
        display: none;
    }
}
.grid-item1 img, .grid-item2 img, .grid-item3 img{
    border-radius: 10%;
}
.grid-item1:hover img, .grid-item2:hover img, .grid-item3:hover img{
    border-radius: 0%;
    transition: border-radius 2.5s;
}

.footer{
    max-width: 1300px;
    width: 100%;
    height: auto;
    margin: 30px auto;  
    display: grid;  
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px; 
}
footer{
    background: #333;
    color: #f1f1f1;
    opacity: 0.8;
}

.grid-items{
    width: 300px;
    height: 300px;
    
    
}
.bloc{
    margin: 0 30px;
}

/*contact*/
.footer-contact h3, .footer-services h3, .footer-horaires h3, .footer-media h3{
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 30px;
    color: black;
}
.footer-contact p{
    padding: 5px 0;
}
.liste-contacts p{
    transition: 0.5s;
}
.liste-contacts p:hover{
    transform: translateY(-10px);
}

/*services*/

.liste-services, .liste-horaires, .liste-media{
    list-style-type: none;
}
.liste-services li{
    padding: 5px 0;
    transition: 0.5s;
}
.liste-services li:hover{
    transform: translateY(-10px);
}
.liste-services li a{
    text-decoration: none;
    color: #f1f1f1;
}
.liste-services li a:hover{
    color: lightblue;
   
}

/*media*/

.liste-media img{
    width: 40px;
    margin: 10px 10px;
}
.liste-media a{
    text-decoration: none;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    font-size: 25px;
    transition: 0.5s;
}
.liste-media a:hover{
    color: lightblue;
    transform: translateY(-10px);
}

/*horaire*/

.liste-horaires li{
    padding: 5px 0;
    transition: 0.5s;
}
.liste-horaires li:hover{
    transform: translateY(-10px);
}
.copyright{
    width: 100%;
    height: 50px;
    background: rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}




/*menu hamburger*/
#icon-menu{
    display: none;
    width: 32px;
    height: 32px;
    float: right;
    margin: 25px;
}
.hamburger{
    display: none;
}
 
@media screen and (max-width:600px){
    header{
        position: absolute;
    }
    .hamburger{
        display: block;
    }
    .content{
        display: none;
    }
    #icon-menu{
       display: block;
       width: 50px;
       height: 70px;
    }
    .hamburger nav ul, .hamburger nav:active  ul{
        display: block;
        position: absolute;
        background: rgb(0, 0, 0);
        top: 90px;
        width: 100%;
        opacity: 0.7;
    }
    .hamburger nav:hover ul{
        display: block;

    }
    .hamburger nav ul li{
        text-align: center;
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: wheat dashed 1px;
    }
    .hamburger nav ul li:hover{
        background-color: rgb(52, 53, 53);
    }
    .hamburger nav ul li a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    .hamburger nav ul li a:hover{
        color: lightblue;
    }
    
    
}