*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}
.menuderoulant li{
    display: flex;
    float: left;
    width: 100px;
   padding: 10px;
   margin-top: 2%;
   position: relative;
}
.menuderoulant li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family: lucida sans;
}
.menuderoulant li a:hover{
    color: black;
}
#sousmenu{
    display: none;
    background: white;
    margin-left: -90%;
    margin-top: 20%; 
    width: 110%;
    position: absolute;
}
#sousmenu li:hover{
    background-color: rgb(175, 174, 174);
    width: 83.5%;
    
}
#sousmenu li a{
    color: rgb(85, 84, 84);
    font-family: lucida sans;
    font-size: 12px;
}
#sousmenu li a:hover{
    color: lightblue;
    
}
#menuprincipal:hover #sousmenu{
    display: block;
    position: relative;
}


.aa{
    margin-left: 40%;
}
.cc{
    margin-left: 70%;
    font-size: 1.2em;
    margin-top: -4%;
}
.cc h1{
    color: black;
}
.cc h1:hover{
    color: white;
}
header{
    width: 100%;
    height: 90px;
    background-color: lightblue;
      
}
/*menu
@media screen and (max-width:1350px){
    .bb4{
       
        visibility: hidden;
    }
}
@media screen and (max-width:1140px){
    .bb3{
        
        visibility: hidden;
    }
}
@media screen and (max-width:950px){
    .bb2{
        
        visibility: hidden;
    }
}
@media screen and (max-width:800px){
    .bb1{
        visibility: hidden;
    }
}
@media screen and (max-width:650px){
    .aa{
        visibility: hidden;
    }
    
    
}*/
@media screen and (max-width:1350px){
    .aa{
       margin-left: 38%;
    }
    #sousmenu{
        display: none;
        background: white;
        margin-left: -90%;
        margin-top: 20%; 
        width: 110%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 82%;
        
    }
}
@media screen and (max-width:1300px){
    .aa{
       margin-left: 38%;
    }
    .menuderoulant li{
        padding: 12px;
    }
    #sousmenu{
        display: none;
        background: white;
        margin-left: -90%;
        margin-top: 20%; 
        width: 110%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 78%;
        
    }
}
@media screen and (max-width:1250px){
    .aa{
       margin-left: 28%;
    }
    .menuderoulant li{
        padding: 12px;
    }#sousmenu{
        display: none;
        background: white;
        margin-left: -90%;
        margin-top: 20%; 
        width: 110%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 78%;
        
    }
}
@media screen and (max-width:1100px){
    .aa{
       margin-left: 20%;
    }
    .menuderoulant li{
        padding: 13px;
    }
    #sousmenu{
        display: none;
        background: white;
        margin-left: -90%;
        margin-top: 20%; 
        width: 110%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 76%;
        
    }
    
}
@media screen and (max-width:1024px){
    .aa{
        margin-left: 25%;
    }
    .menuderoulant li{
        padding: 10px;
    }
    .menuderoulant li a{
        font-size: 13px;
        margin-top: 10%;
    }
    .cc{
        margin-top: 5%;
        margin-left: 20%;
    }
    #sousmenu{
        display: none;
        background: white;
        margin-left: -80%;
        margin-top: 25%; 
        width: 110%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 82%;
        
    }
    
} 
@media screen and (max-width:1000px){
    .aa{
        margin-left: 15%;
    }
    
}
@media screen and (max-width:865px){
    .aa{
        margin-left: 5%;
    }
}
@media screen and (max-width:790px){
    .menuderoulant li{
        padding: 0px;
        margin-top: 4%;
    }#sousmenu{
        display: none;
        background: white;
        margin-left: -80%;
        margin-top: 25%; 
        width: 100%;
        position: absolute;
    }
    #sousmenu li:hover{
        background-color: rgb(175, 174, 174);
        width: 100%;
        
    }
#sousmenu li a{
    padding: 5px;
}
}

.banner{
    background: url("images/ssssssssssssssss.jpg") no-repeat;
    width: 100%;
    padding-top: 31.5%;
    padding-bottom: 20%;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: lucida sans;
}
.banner h1{
    margin-bottom: 2%;
    font-size: 2.8em;
}
.banner h3{
    font-size: 2.2em;
}

.grille1{
    max-width: 1300px;
    width: 100%;
    height: auto;
    margin: 30px auto;  
    display: grid;  
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px; 
}
.grille1a{
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 100px auto;  
    display: grid;  
    grid-template-columns: repeat(auto-fill, 203px);
    justify-content: center;
    grid-gap: 25px; 
    display: none;
}
.grid-item{
    width: 300px;
    height: 300px;
    position: relative;
    
}
.grid-item img{
    border-radius: 3%;
}
.grid-iten{
    width: 200px;
    height: 200px;
    position: relative;
    
}
.grid-iten img{
    border-radius: 3%;
}
.over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(20, 196, 250);
    color: black;
    font-weight: bold;
    font-size: 2.5em;
    display: flex;
    font-family: Quicksand, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 2.5s;

}
.over:hover{
    opacity: 0.5;

}
.grid-item:hover img{
    border-radius: 0%;
    transition: border-radius 2.5s;
}


.h1-grille1{
    background: url(images/font.png) no-repeat;
    width: 100%;
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 5%;
    height: 50px;
    margin: 40px 0px;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 5px 15px 8px rgb(145, 144, 144);
    font-family: 'Times New Roman', Times, serif;
}

.grille2{
    max-width: 900px;
    width: 100%;
    height: auto;
    margin: 0px auto 230px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px;
}
.grille2a{
    max-width: 900px;
    width: 100%;
    height: auto;
    margin: 100px auto 230px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 203px);
    justify-content: center;
    grid-gap: 12px;
    display: none;
}
.grid-iten1{
    width: 200px;
    height: 200px;
    position: relative;
}
.grid-iten2{
    width: 200px;
    height: 200px;
    position: relative;
}
.grid-iten1 img, .grid-iten2 img{
    border-radius: 3%;
}
.grid-iten1:hover img, .grid-iten2:hover img,
.grid-iten:hover img{
    border-radius: 0%;
    transition: border-radius 2.5s;
}
.grid-item1{
    width: 300px;
    height: 200px;
    position: relative;
}
.grid-item2{
    width: 300px;
    height: 200px;
    position: relative;
}
.grid-item3{
    width: 610px;
    height: 200px;
    position: relative;
}

@media screen and (max-width: 900px){
    .grid-item3{
        display: none;
    }
}
@media screen and (max-width:610px){
    .grille2{
        display: none;
    }
    .grille2a{
        display: grid;
    }
}
.grid-item1 img, .grid-item2 img, .grid-item3 img{
    border-radius: 10%;
}
.grid-item1:hover img, .grid-item2:hover img, .grid-item3:hover img{
    border-radius: 0%;
    transition: border-radius 2.5s;
}

.footer{
    max-width: 1300px;
    width: 100%;
    height: auto;
    margin: 30px auto;  
    display: grid;  
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px; 
}
footer{
    background: #333;
    color: #f1f1f1;
    opacity: 0.8;
    animation: couleur 5s infinite;
}
@keyframes couleur{
    25%{
        background: rgb(34, 73, 71);
    }
    50%{
        background: rgb(60, 38, 82);
    }
    100%{
        background: #333;
    }
}

.grid-items, .grid-items1, .grid-items2{
    width: 300px;
    height: 300px;
    
    
}
.bloc{
    margin: 0 30px;
}

/*contact*/
.footer-contact h3, .footer-services h3, .footer-horaires h3, .footer-media h3{
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 30px;
    color: blueviolet;
    font-family: lucida sans;
}
.footer-contact p{
    padding: 5px 0;
}
.liste-contacts p{
    transition: 0.5s;
}
.liste-contacts p:hover{
    transform: translateY(-10px);
}

/*services*/

.liste-services, .liste-horaires, .liste-media{
    list-style-type: none;
}
.liste-services li{
    padding: 5px 0;
    transition: 0.5s;
}
.liste-services li:hover{
    transform: translateY(-10px);
}
.liste-services li a{
    text-decoration: none;
    color: #f1f1f1;
}
.liste-services li a:hover{
    color: lightblue;
   
}

/*media*/

.liste-media img{
    width: 40px;
    margin: 10px 10px;
}
.liste-media a{
    text-decoration: none;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    font-size: 25px;
    transition: 0.5s;
}
.liste-media a:hover{
    color: lightblue;
    transform: translateY(-10px);
}

/*horaire*/

.liste-horaires li{
    padding: 5px 0;
    transition: 0.5s;
}
.liste-horaires li:hover{
    transform: translateY(-10px);
}
.copyright{
    width: 100%;
    height: 50px;
    background: rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}




/*nouveau hamburger*/

.nav{
    
    text-align: right;
    height: 70px;
    display: none;
}
.logo{
    text-decoration: none;
    color: black;
    font-family: lucida sans;
    margin-right: 55%;
}
.logo:hover{
    color: white;
}
.menu{
    margin: 0 30px 0 0;
    
}
.menu a{
    text-decoration: none;
    color: white;
    background: black;
    opacity: 0.8;
    margin: 0 10px;
    line-height: 50px;
    clear: right;  
}
.menu a:hover{
    background-color: lightblue;
}
label{
    margin: 10px 40px 0 0;
    font-size: 36px;
    line-height: 70px;
    display: none;
    width: 100%;
    float: right;
    
}

#toggle{
    display: none;
}
@media only screen and (max-width:650px){
    .content{
        display: none;
    }
    .nav{
        display: block;
    }
    label{
        display: block;
        cursor: pointer;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a{
        display: block;
        border-bottom: 1px solid #1b1b1b;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block;
    }
    /*FOOTER MOBILE*/
    .footer{
        max-width: 600px;
        width: 100%;
        height: auto;
        margin: 10px auto;  
        display: grid;  
        grid-template-columns: repeat(auto-fill, 204px);
        justify-content: center;

    }
    .liste-media a{
        font-size: 15px;
    }
    .grid-items, .grid-items1, .grid-items2{
        width: 224px;
    }
    .grid-items1, .grid-items2{
        display: none;
    }
    /*grille1*/

    .grille1{
        display: none;
    }
    .grille1a{
        display: grid;
    }
    

}

@media only screen and (max-width:450px){
    .logo{
        margin-right: 40%;
    }
}
@media only screen and (max-width:355px){
    .logo{
        margin-right: 30%;
    }
}
@media only screen and (max-width:310px){
    .logo{
        margin-right: 20%;
    }
}
@media only screen and (max-width:415px){
    .footer{
        grid-template-columns: repeat(auto-fill, 188px);
    }
    .grid-items, .grid-items1, .grid-items2{
        width: 188px;
        height: 300px;
    }
    .copyright{
        margin-top: 20%;
    }
}
