*{
    margin: 0;
    padding: 0;
    font-family: lucida sans;
}
ul{
    list-style-type: none;
}
.menuderoulant li{
    display: flex;
    float: left;
    width: 150px;
   padding: 15px;
   margin-top: 1.5%;
   margin-right: -2%;
   position: relative;
}
.menuderoulant li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    
}
.menuderoulant li a:hover{
    color: black;
}
#sousmenu{
    display: none;
    background: white;
    margin-left: -20%;
    margin-top: 20%; 
    width: 80%;
    position: absolute;
}
#sousmenu li:hover{
    background-color: rgb(175, 174, 174);
    width: 80%;
    
}
#sousmenu li a{
    color: rgb(85, 84, 84);
}
#sousmenu li a:hover{
    color: lightblue;
    
}
#menuprincipal:hover #sousmenu{
    display: block;
    
}

.aa{
    margin-left: 29%;
}
.cc{
    margin-left: 70%;
    color: white;
    font-size: 1.2em;
    margin-top: -4%;
}
.cc h1{
    color: black;
}
.cc h1:hover{
    color: white;
}
header{
    width: 100%;
    height: 90px;
    background-color: lightblue;
    
}

@media screen and (max-width:1350px){
    .bb4{
       
        visibility: hidden;
    }
}
@media screen and (max-width:1140px){
    .bb3{
        
        visibility: hidden;
    }
}
@media screen and (max-width:950px){
    .bb2{
        
        visibility: hidden;
    }
}
@media screen and (max-width:800px){
    .bb1{
        visibility: hidden;
    }
}
@media screen and (max-width:600px){
    .aa{
        visibility: hidden;
    }
    .cc{
        margin-left: 115%;
        margin-top: 5%;
        font-size: 1.2em;
    }
    
}

/*nouveau hamburger*/

.nav{
    
    text-align: right;
    height: 70px;
    display: none;
}
.logo{
    text-decoration: none;
    color: black;
    font-family: lucida sans;
    margin-right: 55%;
}
.logo:hover{
    color: white;
}
.menu{
    margin: 0 30px 0 0;
    
}
.menu a{
    text-decoration: none;
    color: white;
    background: black;
    opacity: 0.8;
    margin: 0 10px;
    line-height: 50px;
    clear: right;  
}
.menu a:hover{
    background-color: lightblue;
}
label{
    margin: 10px 40px 0 0;
    font-size: 36px;
    line-height: 70px;
    display: none;
    width: 100%;
    float: right;
    
}

#toggle{
    display: none;
}
@media only screen and (max-width:650px){
    .content{
        display: none;
    }
    .nav{
        display: block;
    }
    label{
        display: block;
        cursor: pointer;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a{
        display: block;
        border-bottom: 1px solid #1b1b1b;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block;
    }
    /*FOOTER MOBILE*/
    .footer{
        max-width: 600px;
        width: 100%;
        height: auto;
        margin: 10px auto;  
        display: grid;  
        grid-template-columns: repeat(auto-fill, 204px);
        justify-content: center;

    }
    .liste-media a{
        font-size: 15px;
    }
    .grid-items{
        width: 200px;
    }
    /*grille1*/

    .grille1{
        display: none;
    }
    .grille1a{
        display: grid;
    }
    

}

@media only screen and (max-width:450px){
    .logo{
        margin-right: 40%;
    }
}
@media only screen and (max-width:355px){
    .logo{
        margin-right: 30%;
    }
}
@media only screen and (max-width:310px){
    .logo{
        margin-right: 20%;
    }
}
@media only screen and (max-width:415px){
    .footer{
        grid-template-columns: repeat(auto-fill, 188px);
    }
    .grid-items{
        width: 188px;
        height: 300px;
    }
    .copyright{
        margin-top: 20%;
    }
}

@media screen and (max-width: 600px) {
    body{
        width: 581px;
    }
}

/*all*/

.all
{
    display: flex;
    margin: 60px 0px 0px 40px;
}
.ko h2
{
    padding: 20px;
    margin-left: 130px;
    margin-right: 130px;
    padding-left: 70px;
    margin-bottom: 30px;
    background-color: rgb(19, 10, 71);;
    color: white;
    box-shadow: 8px 8px 8px 4px rgb(231, 229, 229);
}
.ko h2:hover
{
    color: black;
}
.ko p
{
    color: rgb(21, 21, 70);
}
.deux
{
    margin: 105px 0px 0px 20px;
}
.trois1 .eux img
{
    margin-right: 30px;
    box-shadow: 0px 0px 8px 8px rgb(231, 229, 229);
}
.trois1 .cas 
{
    margin: 40px 29px 0px 0px;
    background-color: rgb(19, 10, 71);;
}
.trois1 .cas h3
{
    padding: 0px 0px 0px 420px;
    font-size: 1.5em;
    color: white;
    font-family: 'Courier New', Courier, monospace;   
}
.trois2 .ceux img
{
    margin: 40px 30px 0px 0px;
    box-shadow: 0px 0px 8px 8px rgb(221, 218, 218);
}
.trois2 .cis 
{
    margin: 40px 29px 0px 0px;
    background-color: rgb(19, 10, 71);;
}
.trois2 .cis h3
{
    padding: 0px 0px 0px 420px;
    font-size: 1.5em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
@media screen and (max-width: 600px) {
    body{
        width: 550px;
    }
    .all{
        display: block;
        margin-left: 30px;
    }
    .trois1 .eux img{
        margin-top: 40px;
    }
    .trois1 .cas h3{
        padding-left: 163px;
    }
    .trois2 .cis h3{
        padding-left: 163px;
    }
}

/*wer*/

.wer h1
{
    padding-top: 100px;
    color: black;
    text-align: center;
    font-size: 3em;
    color: rgb(19, 10, 71);;
}
@media screen and (max-width: 600px){
    .wer h1{
        font-size: 2.5em;
    }
}

.lou h2
{
	margin-top: 100px;
    text-align: center;
    font-size: 2.5em;
	color: black;
    margin-bottom: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*footer*/

.footer{
    max-width: 1300px;
    width: 100%;
    height: auto;
    margin: 30px auto;  
    display: grid;  
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px; 
}
footer{
    background: #333;
    color: #f1f1f1;
    opacity: 0.8;
}

.grid-items{
    width: 300px;
    height: 300px;
    position: relative;
    
}
.bloc{
    margin: 0 30px;
}

/*contact*/

.footer-contact h3, .footer-services h3, .footer-horaires h3, .footer-media h3{
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 30px;
    color: black;
}
.footer-contact p{
    padding: 5px 0;
}
.liste-contacts p{
    transition: 0.5s;
}
.liste-contacts p:hover{
    transform: translateY(-10px);
}

/*services*/

.liste-services, .liste-horaires, .liste-media{
    list-style-type: none;
}
.liste-services li{
    padding: 5px 0;
    transition: 0.5s;
}
.liste-services li:hover{
    transform: translateY(-10px);
}
.liste-services li a{
    text-decoration: none;
    color: #f1f1f1;
}
.liste-services li a:hover{
    color: lightblue;
   
}

/*media*/

.liste-media img{
    width: 40px;
    margin: 10px 10px;
}
.liste-media a{
    text-decoration: none;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    font-size: 25px;
    transition: 0.5s;
}
.liste-media a:hover{
    color: lightblue;
    transform: translateY(-10px);
}

/*horaire*/

.liste-horaires li{
    padding: 5px 0;
    transition: 0.5s;
}
.liste-horaires li:hover{
    transform: translateY(-10px);
}
.copyright{
    width: 100%;
    height: 50px;
    margin-top: 5%;
    background: rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}